# РћСЃРЅРѕРІРЅС‹Рµ РЅР°СЃС‚СЂРѕР№РєРё Django
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# РќР°СЃС‚СЂРѕР№РєРё РїРѕС‡С‚С‹ (Gmail)
# Р”Р»СЏ РїР°СЂРѕР»СЏ РёСЃРїРѕР»СЊР·СѓР№С‚Рµ "РџР°СЂРѕР»Рё РїСЂРёР»РѕР¶РµРЅРёР№" РІ Р°РєРєР°СѓРЅС‚Рµ Google
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=

# РќР°СЃС‚СЂРѕР№РєРё Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# РќР°СЃС‚СЂРѕР№РєРё Р°РґРјРёРЅРёСЃС‚СЂР°С‚РѕСЂР°
ADMIN_NAME=
ADMIN_EMAIL=
