# Секреты
.env

# Python (кэш и виртуальное окружение)
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# База данных
db.sqlite3

# Медиа и статика (пользовательские файлы)
media/
# static/ — обычно игнорируют только собранную статику (staticfiles)
# если ты правишь стили вручную, папку static/ оставляй

# Настройки IDE (PyCharm / VS Code)
.idea/
.vscode/

# Прочее
.DS_Store
