{% extends 'base.html' %}
{% load static %}

{% block title %}Регистрация | Django Flow{% endblock %}

{% block content %}
<section class="auth-section">
    <div class="auth-section__container">
        <h1 class="auth-section__title">Регистрация</h1>
        <form method="POST" class="auth-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn">Создать аккаунт</button>
        </form>
        <div class="auth-footer">
            <p>Уже есть аккаунт? <a href="{% url 'blog:login' %}">Войти</a></p>
        </div>
    </div>
</section>
{% endblock %}