{% extends 'base.html' %}
{% load static %}

{% block title %}Photo{% endblock %}

{% block content %}
<h1>Добро пожаловать в нашу галерею!</h1>
<div id="page-margins">

    <div id="header">
        <h1>jQuery.<span class="logo">popeye</span> 2.1</h1>
        <p class="claim">альтернатива lightbox</p>
    </div>

    <div class="example">
        <div class="ppy" id="ppy1">
            <ul class="ppy-imglist">
                <li>
                    {# Исправлено: добавлен тег static для основного фото #}
                    <a href="{% static 'images/1_1.jpg' %}">
                        <img src="{% static 'images/1_1_thumb.jpg' %}" alt="Снежный барс" />
                    </a>
                    <span class="ppy-extcaption">
                        <strong>Снежный </strong><br />барс<br />
                    </span>
                </li>
                <li>
                    <a href="{% static 'images/1_2.jpg' %}">
                        <img src="{% static 'images/1_2_thumb.jpg' %}" alt="Пума" />
                    </a>
                    <span class="ppy-extcaption">
                        <strong>Пума</strong>
                    </span>
                </li>
                <li>
                    <a href="{% static 'images/1_3.jpg' %}">
                        <img src="{% static 'images/1_3_thumb.jpg' %}" alt="Кто это?" />
                    </a>
                    <span class="ppy-extcaption">
                        <strong>Кто это?</strong>
                    </span>
                </li>
                <li>
                    <a href="{% static 'images/1_4.jpg' %}">
                        <img src="{% static 'images/1_4_thumb.jpg' %}" alt="Рептилия" />
                    </a>
                    <span class="ppy-extcaption">
                        <strong>Рептилия</strong>
                    </span>
                </li>
            </ul>

            <div class="ppy-outer">
                <div class="ppy-stage">
                    <div class="ppy-nav">
                        <a class="ppy-prev" title="Назад">Назад</a>
                        <a class="ppy-switch-enlarge" title="Увеличить">Увеличить</a>
                        <a class="ppy-switch-compact" title="Закрыть">Закрыть</a>
                        <a class="ppy-next" title="Вперед">Вперед</a>
                    </div>
                </div>
            </div>

            <div class="ppy-caption">
                <div class="ppy-counter">
                    Изображение <strong class="ppy-current"></strong> из <strong class="ppy-total"></strong>
                </div>
                <span class="ppy-text"></span>
            </div>
        </div>

        <h2>Пример 1</h2>
            <p>Первый popey-box использует стандартные параметры: он плавает влево и открывается вправо,
                его навигация и заголовок отображаются при наведении курсора мыши. Подпись отображает HTML-код внутри
                <code>&lt;span class="ppy-extcaption"&gt;</code>.</p>
            <p>Поместив навигацию внутри рабочей области (где отображается изображение),
                мы можем заставить ее зависать над изображением.</p>
        <div class="topHeader">
            <a class="backArticle" href="http://pcvector.net">Назад к статье &gt;&gt;&gt;</a>
        </div>
        <div class="example">
            <h2>Пример 2</h2>
            <div class="ppy" id="ppy2">
                <ul class="ppy-imglist">
                    <li><a href="{% static 'images/2_1.jpg' %}"><img src="{% static 'images/2_1_thumb.jpg' %}" alt="подводный мир" /></a></li>
                    <li><a href="{% static 'images/2_2.jpg' %}"><img src="{% static 'images/2_2_thumb.jpg' %}" alt="Дорожный знак" /></a></li>
                    <li><a href="{% static 'images/2_3.jpg' %}"><img src="{% static 'images/2_3_thumb.jpg' %}" alt="Воздушные шарики" /></a></li>
                    <li><a href="{% static 'images/2_4.jpg' %}"><img src="{% static 'images/2_4_thumb.jpg' %}" alt="Колонны" /></a></li>
                    <li><a href="{% static 'images/2_5.jpg' %}"><img src="{% static 'images/2_5_thumb.jpg' %}" alt="Пейзаж на закате" /></a></li>
                </ul>
                <div class="ppy-outer">
                    <div class="ppy-stage">
                        <div class="ppy-counter">
                            <strong class="ppy-current"></strong> / <strong class="ppy-total"></strong>
                        </div>
                    </div>
                    <div class="ppy-nav">
                        <div class="nav-wrap">
                            <a class="ppy-next" title="Вперед">Вперед</a>
                            <a class="ppy-prev" title="Назад">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
            <p>Второй ящик для папай имеет следующие определяемые пользователем параметры: <code>direction: 'left'</code> - открыть
                влево. <code>caption: false</code> - не отображать подписи (даже несмотря на то, что у изображений есть
                теги alt с текстом). <code>navigation: 'permanent'</code> - навигация всегда видна.</p>
            <p>Навигация остается фиксированной справа от изображения. Абсолютное позиционирование играет ключевую роль в отображении
                навигации там, где вы хотите - слева, справа, под или над изображением.</p>
            <p>Здесь <strong>кнопки Увеличить</strong> нет, но щелчок по изображению тем не менее увеличивает и уменьшает его.</p>
        </div>
        <div class="example">
            <div class="ppy" id="ppy3">
                <ul class="ppy-imglist">
                    <li><a href="{% static 'images/3_1.jpg' %}"><img src="{% static 'images/3_1_thumb.jpg' %}" alt="Какое-нибудь длинное описание этой первой раритетной машинки." /></a></li>
                    <li><a href="{% static 'images/3_2.jpg' %}"><img src="{% static 'images/3_2_thumb.jpg' %}" alt="Какое-нибудь длинное описание этой второй раритетной машинки." /></a></li>
                    <li><a href="{% static 'images/3_3.jpg' %}"><img src="{% static 'images/3_3_thumb.jpg' %}" alt="Какое-нибудь длинное описание этой третьей раритетной машинки." /></a></li>
                    <li><a href="{% static 'images/3_4.jpg' %}"><img src="{% static 'images/3_4_thumb.jpg' %}" alt="Какое-нибудь длинное описание этой четвертой раритетной машинки." /></a></li>
                    <li><a href="{% static 'images/3_5.jpg' %}"><img src="{% static 'images/3_5_thumb.jpg' %}" alt="Какое-нибудь длинное описание этой пятой раритетной машинки." /></a></li>
                </ul>
                <div class="ppy-outer">
                    <div class="ppy-stage">
                        <div class="ppy-nav">
                            <div class="nav-wrap">
                                <a class="ppy-prev" title="Назад">Назад</a>
                                <a class="ppy-play" title="Плей">Плей</a>
                                <a class="ppy-pause" title="Пауза">Пауза</a>
                                <a class="ppy-next" title="Вперед">Вперед</a>
                            </div>
                        </div>
                        <div class="ppy-counter">
                            <strong class="ppy-current"></strong> / <strong class="ppy-total"></strong>
                        </div>
                    </div>
                    <div class="ppy-caption">
                        <span class="ppy-text"></span>
                    </div>
                </div>
            </div>
            <h2>Пример 3</h2>
            <p>Здесь вы можете увидеть <strong>слайд-шоу</strong> в действии. Просто нажмите кнопку воспроизведения/паузы,
                чтобы включить или выключить слайд-шоу. Работает как в обычном, так и в увеличенном режиме.</p>
            <p>Кроме того, в этом примере я использую несколько интересных новых функций CSS, таких как полупрозрачные градиенты,
                которые, вероятно, не будут работать в следующих 500 версиях Internet Explorer.</p>
        </div>
        <div class="legal">
            <p>Все фотографии flickr, использованные в демонстрации, опубликованы под Creative Commons 2.0, и, если они не были
                сделаны Кристофом Шюглером, в исходном коде они приписываются фотографам. Набор значков, используемых в кнопках ссылок,
                — <a href="http://pictoico.com/">Pictoico</a> от <a href="http://www.lukapensa.com">Luka Pensa</a>>. jQuery.popeye — это
                бесплатное программное обеспечение, выпущенное под <a href="http://creativecommons.org/licenses/GPL/2.0/">GPL 2.0</a>.
                Этот сайт поддерживается Кристофом Шюглером, электронная почта: <a href="mailto:schreib@herr-schuessler.de">
                    schreib@herr-schuessler.de</a>, веб-сайт: <a href="http:/ /herr-schuessler.de">herr-schuessler.de</a>.</p>
        </div>
    </div>

    <!-- [example js] begin -->
    <script type="text/javascript">
        <!--//<![CDATA[

        $(document).ready(function () {
            var options1 = {
            }
            var options2 = {
                caption:    false,
                navigation: 'permanent',
                direction:  'left'
            }
            var options3 = {
                caption:    'permanent',
                opacity:    1
            }

            $('#ppy1').popeye(options1);
            $('#ppy2').popeye(options2);
            $('#ppy3').popeye(options3);
        });

        //]]>-->

    </script>
    <!-- [example js] end -->

    <!-- pcvector.net -->
    <script type="text/javascript" src="http://pcvector.net/templates/pcv/js/pcvector.js"></script>
    <!-- /pcvector.net -->
</div>
{% endblock %}